<!-- views/head.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOPPING WEBSITE|ANIKET</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="./css/style.css">
       <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="index.js"></script> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


<style>

body{
    
    width:100%;
    height: 120vh;
        background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

display:flex;
justify-content:center;
align-items: center;

}


label{
    margin-bottom: 0px;
}

.reg{
    border-radius: 20px;
    box-shadow: 10px 10px 5px 5px rgba(108, 110, 112,0.2) ;
    height: 90%;
    width: 60%;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.err{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

form{
    margin-top: 30px;
    text-align:left;
    padding-left: 30px;
}

.one{
    
    display: flex;
    justify-content:center;
    width: 90%;
    margin-left:5%;
    margin-bottom: 15px;

}
.two{
    display: flex;
    width:90%;
    margin-left:5%;
    margin-bottom: 15px;
}
.two label{
    float:left;
        font-size: 18px;
    font-weight: 500;
    width: 120px;
    
}
.two input{
    width: 70%;
    height:40px;
    border:2px solid #828b8f;
    margin-left: 5px;
}

.one div{width: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.one div input{
    height: 40px;
    border: 2px solid #828b8f;
}

.one label {
    font-size: 18px;
    font-weight: 500;
    width: 100px;
}

.three{
    width: 90%;
    margin-left:5%;
    margin-bottom: 15px;
}
.three label {
    font-size: 18px;
    font-weight: 500;
    width: 70px;
}
.three input {

    height: 40px;
    margin-right: 10px;
    border: 2px solid #828b8f;
     width: 110px;
}

.four{
    width: 90%;
    margin-left:5%;
    margin-bottom: 15px;
    
}

.four label{
    font-size: 18px;
    font-weight: 500;
    width: 70px;
    width: 150px;
}
.four input {

    height: 40px;
    margin-right: 5px;
    border: 2px solid #828b8f;
     width: 180px;
}


.sub{
    background-color: #1bcc4a;
    border: 1px solid green;
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color:white;
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 5px;
}

.sub i{
    font-size: 25px;
    /* margin-left: -15px; */
    margin-right: 5px;
}


@media screen and (max-width:800px){
    
body{
    height: auto;
    overflow: auto;
}

.reg{
margin-top:30px;
margin-bottom:30px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 5px rgba(108, 110, 112,0.2) ;
    height: 90%;
    width: 90%;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
}

.reg h1{
    font-size: 27px;
}


.one div input {
    height: 35px;
    width: 90%;
    border: 2px solid #828b8f;
}
.two label {
    float: none;
    font-size: 18px;
    font-weight: 500;
    width: 190px;
}

form{
    padding-left:0px;
}
.two {display:block;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    }


    .two input {
    width: 91%;
    height: 35px;
    border: 2px solid #828b8f;
    /* margin-left: 5px; */}
.three{
    
    padding-left: 0px;

}
.three input{
    margin-bottom: 5px;
    height: 35px;
    width: 70%;
    margin-left: 0px;
}
.three label {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}
.three input {

    height: 35px;
    margin-right: 10px;
    border: 2px solid #828b8f;
     width: 70%;
}

.four{
    width: 90%;
    margin-left:5%;
    margin-bottom: 15px;
    
}

.four label{
    font-size: 18px;
    font-weight: 500;
    width: 70px;
    width: 150px;
}
.four input {

    height: 35px;
    margin-right: 5px;
    border: 2px solid #828b8f;
     width: 180px;
}



</style>

</head>




<body>


<div class="reg">

<h1>Create An Account</h1>

<div class="err" style="height:70px;">
<% if(messages.error || messages.info) { %>

<% if(messages.error) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong><%= messages.error %> </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% if(messages.info) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong><%= messages.info %> </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>


<% } %>
</div>
<form action="/register" method="POST">

<div class="one">
<div>
<label for="firstname">FirstName</label>
<input type="text" name="firstname" required/>
</div>

<div>
<label for="lastname">LastName</label>
<input type="text" name="lastname" required/>
</div>
</div>

<div class="one">
<div>
<label for="email">Email-Id</label>
<input type="email" name="email" required/>
</div>

<div>
<label for="mobile">Mobile-No</label>
<input type="tel" name="mobile" required/>
</div>
</div>

<div class="two">
<label for="address">Address Line1</label>
<input type="text" name="address1" required/>
</div>

<div class="two">
<label for="address2">Address Line2</label>
<input type="text" name="address2" required/>
</div>

<div class="three">
<label for="state">State</label>
<input type="text" name="state" required/>
<label for="district">District</label>
<input type="text" name="district" required/>
<label for="pincode">Pincode</label>
<input type="number" name="pincode" required/>
</div>

<div class="four">
<label for="password">Password</label>
<input type="password" name="password" required/>
</div>


<div class="four">
<label for="password2">Confirm Password</label>
<input type="password" name="password2" required/>
</div>

<button type="submit" class="sub" id="myb" ><i class="fa fa-check-circle-o" aria-hidden="true"></i>REGISTER</button>
</form>
<p style="margin-bottom: 0px;">Already have an account??<a href="/login">Login!</a></p>

</div>
</body>
</html>